---
import { Image } from 'astro:assets';
import swaley from '../images/me.jpeg';

---

<section class="w-full py-20 bg-gray-800">

    <div class="container mx-auto flex flex-col lg:flex-row gap-10 px-8">
        
        <div class="w-full lg:w-1/2 flex justify-center">

            <img class="lg:-rotate-6 lg:origin-bottom-right aspect-square max-w-full lg:max-w-[400px] lg:max-h-[400px]" src={swaley.src} alt="Swaley-James Smart">
        
        </div>

        <div class="w-full lg:w-1/2">
            <h4 class="font-sans text-pink-600 text-3xl mb-4">About Me.</h4>
            <div class="font-sans text-gray-200 prose">
                <p>Hi, my name is Swaley Smart, I'm the Lead Web Developer at Brace Creative Agency.</p>
                    <p>I have worked in the industry designing, developing and marketing in some capacity for the last 20 years. I have a full spectrum of knowledge having worked or at the very least helped across all departments in an agency setting; from Digital & Print Design, Web & Email Development, SEO, Project Management, IT and SMM.</p>
                <p>I have been fortunate enough to work with some of the most recognised brands such as Gap, Volvo, Diageo (Guinness & Johnnie Walker), Royal Mail, Pets at home, GWR, NICE, Bosch/Aventics & others.</p>
                <p>In regards to my current role in Web & Software Development, I am predominantly PHP/Wordpress based on the backend and modern Javascript & CSS on the front (ES6, Tailwind, SCSS, Alpine JS with a sprinkling of React here and there).</p>
                <p>Although I don't get the opportunity to use it at work, when I have spare time my passion outside of work is the Laravel framework and it's associated ecosystem.</p>
            </div>
        </div>

    </div>

</section>