---

import bg from '../images/hero-bg.jpg';

---

<section class="relative w-full h-screen flex flex-col items-center justify-center bg-white z-0 bg-cover bg-center bg-[url('/src/images/hero-bg.jpg')]">

    <div class="absolute inset-0 bg-black opacity-25 z-1"></div>

    <div class="font-sans text-center z-10 mb-10">
        <h2 class="animate-text bg-gradient-to-r from-teal-500 via-purple-500 to-orange-500 bg-clip-text text-transparent text-4xl lg:text-6xl font-black leading-normal mb-4">Swaley-James Smart</h2>
        <p class="text-slate-300 text-xl md:text-3xl">Full Stack Developer</p>
    </div>


    <a class="bg-pink-600 hover:bg-pink-700 transition-colors ease-in-out duration-500 px-8 py-2 rounded-lg font-sans uppercase text-white text-lg font-bold tracking-wide z-10" href="/">Grab my C.V
    </a>


    <div class="absolute origin-right bottom-0 -translate-x-1/2 w-[150px] h-[1px] rotate-90 bg-slate-200 justify-items-end animate-pulse"></div>

</section>